@mixin carre($taille, $couleur){
    width: $taille;
    height: $taille;
    background-color: $couleur;
}

.petit-carre-bleu{
    @include carre (20px, rgb(0,0,255))
}

.gro-carre-rouge{
    @include carre (50px, rgb(255,0,0))

}