#presentation{
    color: green;
    font-weight: bold;
    ul{
        border: 1px solid black;
        li:nth-child(odd){
            color: red;
        }
        li:nth-child(even){
            font-weight: 700;
            color: purple;
        }
    }
}